*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    height: 100vh;
    width: 100%;
    background-color: aliceblue;
    display: grid;
    place-content: center;
}

.container{
    height: 350px;
    width: 350px;
    background: white;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(4, calc(350px/4));
    grid-template-rows: repeat(4, calc(350px/4));
}
.box{
    border: 1px solid gray;
    cursor: pointer;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
}