@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

html {
    scroll-behavior: smooth;
}

:root {
    --color: rgb(255, 200, 50);
}

header {
    height: 100vh;
    width: 100%;
    position: relative;
}

header::before {
    position: absolute;
    height: 100%;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.8)), url('img/bg.jpg');
    background-size: cover;
    content: "";
    z-index: -1;
    opacity: 0.9;
}

.navbar {
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    position: absolute;
    top: 0;
}

.navbar::before {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 0;
}

.logo {
    position: relative;
}

.logo img {
    height: 70px;
    width: 70px;
}

.navbar ul {
    height: 100%;
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
}

ul li {
    list-style: none;
    height: 33px;
    width: 75px;
    display: grid;
    place-content: center;
    border-radius: 50px;
    transition: 0.3s all ease;
}

ul li:hover {
    background-color: white;
    border: 1px solid var(--color);
    cursor: pointer;
}

li a {
    text-decoration: none;
    color: white;
}

ul li:hover a {
    color: var(--color);
}

main {
    height: 90vh;
    width: 100%;
    display: grid;
    place-content: center;
    text-align: center;
    position: absolute;
    bottom: 0;
}

.center-div {
    height: 150px;
    width: 60vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.center-div h1 {
    color: var(--color);
    font-size: 2.75rem;
    text-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
}

.center-div p {
    color: white;
}

.center-div .btn {
    height: 40px;
    width: 100px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    background-color: transparent;
    font-size: 1rem;
    color: var(--color);
    display: grid;
    place-content: center;
    transition: 0.3s all ease;
    border: 1px solid var(--color);
    box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.7);
}

.center-div .btn:hover {
    box-shadow: 0 0 7px 3px rgba(0, 0, 0, 0.7);
    background-color: var(--color);
    color: white;
}

.toggle-btn {
    display: none;
}

/* about  */

.about {
    height: 75vh;
    width: 100%;
    position: relative;
}

.title {
    height: 140px;
    width: 100%;
    display: grid;
    place-content: center;
}

.title h2 {
    font-size: 2.5rem;
    font-weight: lighter;
    color: var(--color);
    text-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
}

.about-content {
    height: calc(75vh - 150px);
    width: 100%;
}

.box-content {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.box {
    height: 270px;
    width: 350px;
    box-shadow: 0px 5px 5px 0px rgba(150, 150, 150, 0.75);
    border-radius: 15px;
    background: rgb(228, 225, 225);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.box img {
    height: 150px;
    width: 150px;

}

/* about  */

/* service  */

.service {
    height: 75vh;
    width: 100%;
}

.service-div {
    height: calc(75vh - 140px);
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.service-div::before {
    position: absolute;
    height: 100%;
    width: 100%;
    content: "";
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3)), url('./img//zomato.png');
    background-size: 100% 100%;
    z-index: -1;
}

.service-img {
    height: 150px;
    width: 150px;
}

.service-img img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

/* service  */

/* contact  */

.contact {
    height: 80vh;
    width: 100%;
}

.form-div {
    height: 55vh;
    width: 55vw;
    margin: auto;
}

.form-group {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.form-group .form-input:nth-child(2) {
    display: flex;
    justify-content: flex-end;
}

.form-group .form-input {
    width: 100%;
}

.form-group textarea {
    width: 100%;
    height: 175px;
    padding: 10px 7px;
    border: 1px solid var(--color);
    outline: none;
}

textarea {
    resize: none;
}

.sub-btn {
    height: 35px;
    width: 75px;
    cursor: pointer;
    background: none;
    outline: none;
    border: 1px solid var(--color);
    color: var(--color);
    transition: 0.3s all ease;
}

.sub-btn:hover {
    background-color: var(--color);
    color: white;
}

.form-group input {
    padding: 0 7px;
    width: 98%;
    height: 35px;
    border: 1px solid var(--color);
    outline: none;
}

.form-group.sub-foot {
    display: flex;
    justify-content: flex-end;
}

.footer-section {
    height: 50px;
    background-color: black;
    color: white;
    display: grid;
    place-content: center;
}

@media only screen and (max-width: 500px) {

    .navbar {
        height: auto;
        flex-direction: column;
    }

    .logo {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 0 10px;
    }

    .navbar ul {
        height: 0;
        overflow: hidden;
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
        transition: 0.3s all ease;
        visibility: hidden;
    }

    .ul-div {
        transition: 0.3s all ease;
        height: 160px !important;
        overflow: visible !important;
        visibility: visible !important;
    }

    ul li {
        z-index: 5;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 20px;
        border: none;
    }

    ul li:hover {
        background: none;
        border: none;
    }

    .ul-div li {
        cursor: pointer;
        color: var(--color);
    }

    .logo .toggle-btn {
        display: block;
        color: var(--color);
        height: 45px;
        width: 45px;
        background: none;
        outline: none;
        border: 1px solid var(--color);
        font-size: 1.5rem;
        font-weight: lighter;
        transition: 0.3s all ease;
        cursor: pointer;
    }

    .toggle-btn:hover,
    .toggle-active {
        background-color: var(--color) !important;
        color: white !important;
    }

    .center-div {
        height: 125px;
        width: 325px;
    }

    .center-div h1 {
        font-size: 1.75rem;
    }

    .center-div p {
        font-size: 0.75rem;
    }

    .center-div .btn {
        height: 33px;
        width: 73px;
        font-size: 0.85rem;
    }

    .about {
        height: 85vh;
        width: 100%;
    }

    .title {
        height: 125px;
    }

    .about-content {
        height: calc(85vh - 125px);
        padding-bottom: 2rem;
        justify-content: space-evenly;
    }

    .box-content {
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .box {
        height: 125px;
        width: 200px;
    }

    .box img {
        height: 75px;
        width: 75px;
    }

    .service {
        height: auto;
        width: 100%;
    }

    .service-div {
        height: auto;
        padding: 1rem 0;
        flex-direction: column;
    }

    .service-img {
        height: 100px;
        width: 100px;
    }

    .contact {
        height: 85vh;
    }

    .form-div {
        width: 70vw;
    }

    .form-group {
        flex-direction: column;
        margin: 0;
    }

    .form-input input,
    textarea {
        width: 100%;
        margin-bottom: 0.75rem;
    }

    .form-group .form-input:nth-child(2) {
        display: flex;
        justify-content: unset;
    }
}