@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;400&display=swap');

:root {
    --default-color: #ecf2f7;
    --font-1: 'Josefin Sans', sans-serif;
    --font-2: 'Roboto', sans-serif;
    --btn-color: #4f67d1;
    --transition: 0.3s all ease-in-out;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-1)
}

p{
    font-family: var(--font-2);
    color: rgb(65, 65, 65);
    font-size: 0.95rem;
}

body{
    height: auto;
    width: 100%;
    position: relative;
}

/* Home Container  */

.container-div {
    min-height: 100vh;
    position: relative;
    transition: var(--transition);
    z-index: 5;
}

.odd{
    background-color: var(--default-color);
}

/* Navbar  */

.navbar-ul li {
    list-style: none;
    padding: 0 10px;
}

li a {
    text-decoration: none;
    font-size: 1.1rem;
}

li a.active, li a:hover {
    color: var(--btn-color) !important;
}

.navbar{
    border-bottom: 0.1px solid rgb(207, 207, 207);
    transition: var(--transition);
}

.navbar a {
    text-decoration: none;
}

.navbar i {
    height: 40px;
    width: 40px;
    display: grid;
    place-content: center;
    text-decoration: none;
    border: 1.75px solid var(--btn-color);
    transition: var(--transition);
    color: var(--btn-color);
}

.navbar i:hover {
    background-color: var(--btn-color);
    color: white;
}

.btn-side, .btn-content  {
    height: 40px;
    width: auto;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--btn-color);
    color: white;
    letter-spacing: 1px;
    outline: none;
    border: none;
    transition: var(--transition);
}

.btn-side:focus, .btn-content:active{
    background-color: rgb(43, 60, 138);
}

button:focus:not(:focus-visible) {
    outline: 0;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.btn-closed{
    display: none;
    background: none;
}

/* Navbar  */

.container-div .content{
    height: calc(100vh - 82px);
    width: 100%;
}

.color{
    color: var(--btn-color);
}

/* Home Container  */

.hide-content::after{
    position: absolute;
    height: 100%;
    width: 100%;
    content: '';
    top: 0;
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6));
    z-index: 5;
}

/* About Container  */

.box{
    min-height: 200px;
}

#box2{
    background: url('./img/img-2.jpg');
    background-size: 100% 100%;
}

#box4{
    background: url('./img/img-4.jpg');
    background-size: 100% 100%;
}

#box6{
    background: url('./img/img-6.jpg');
    background-size: 100% 100%;
}

/* About  */

/* Service  */

.carousel-indicators{
    position: absolute;
    top: 100%;
}

.carousel-indicators li{
    background: var(--btn-color) !important;
}

/* Service  */

/* Contact  */

.form-groups {
    width: 100%;
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.form-groups input {
    width: 49.4%;
    padding: 5px;
    outline: none;
    border: 1px solid #8c8d8f;
}

.form-groups textarea {
    width: 100%;
    border: none;
    outline: none;
    border: 1px solid #8c8d8f;
    padding: 5px;
}

.form-groups:nth-child(4) {
    justify-content: flex-end;
}

/* Contact  */
/* Footer  */
footer li{
    list-style: none;
}

li a{
    color: black !important;
}
/* Footer  */


@media only screen and (max-width: 450px) {
    .navbar{
        background-color: white !important;
    }
    .btn-close {
        display: block !important;
    }
    .btn-closed{
        display: block;
        position: absolute;
        right: 0.85rem;
        border: none;
    }
    .navbar-toggler{
        padding: 0;
    }
    .navbar-collapse{
        padding: 0.85rem;
        position: absolute;
        background-color: white;
        z-index: 3;
        width: 100%;
        left: -100%;
        top: 0;
        transition: 0.8s all ease;
    }
    .toggle-ul{
        left: 0;
    }
    .about-boxes p{
        text-align: center;
    }
    .reff{
        height: auto !important;
    }
    .seff{
        width: 100% !important;
    }
    .footer-section p{
        font-size: 0.8rem;
    }
}