@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

:root {
    --default-color: #ecf2f7;
    --font-1: 'Ubuntu', sans-serif;
    --font-2: 'Josefin Sans', sans-serif;
    --font-3: 'Roboto', sans-serif;
    --btn-color: #4f67d1;
    --transition: 0.3s all ease;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

header {
    height: 100vh;
    width: 100%;
    background-color: var(--default-color);
}

nav.navs {
    height: 12.5vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    border-bottom: 1px solid rgba(114, 114, 114, 0.322);
    /* box-shadow: 0px 10px 10px -10px rgba(0,0,0,0.75); */
}

nav.nav-top {
    background-color: white;
    box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.5);
}

.logo {
    width: 15%;
}

.logo img {
    height: 80px;
    width: 80px;
}

.btn-toggle {
    display: none;
}

ul {
    display: flex;
    margin-bottom: 0;
}

ul li {
    list-style: none;
    font-family: var(--font-2);
    margin: 0 0 0 30px;
}

li a {
    text-decoration: none;
    color: #8c8d8f !important;
    font-weight: 500;
}

a.active,
a:hover {
    color: #0c0c0c !important;
}

.contacts {
    display: flex;
    align-items: center;
}

.right-btns{
    display: flex;
}
.right-btns a:nth-child(2){
    margin: 0 10px;
}
.right-btns{
    display: none;
}
.right-btns a,
.right-btns button {
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--btn-color);
    color: var(--btn-color);
    text-decoration: none;
}

.contacts a{
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--btn-color);
    color: var(--btn-color);
    text-decoration: none;
}
.contacts a {
    margin-right: 10px;
    transition: var(--transition);
}

.contacts a:hover {
    background-color: var(--btn-color);
}

.contacts a:hover i {
    color: white;
}

.contacts button,
.left-div button,
.service-right button,
.blogs .left-blog button,
.form-groups button,
#footer button {
    height: 40px;
    width: 120px;
    background-color: var(--btn-color);
    border: none;
    outline: none;
    border: 1px solid var(--btn-color);
    font-family: var(--font-2);
    letter-spacing: 1px;
    word-spacing: 1px;
    color: white;
    cursor: pointer;
}

.service-right button {
    width: 175px;
}

.contacts button:active,
.left-div button:active,
.service-right button:active,
.blogs .left-blog button:active,
.form-groups button:active,
#footer button:active {
    background-color: #3e51a3;
}

.container-div {
    height: inherit;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.container-div .divs {
    height: calc((100vh - 12.5vh));
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.container-div .left-div {
    width: 50%;
    padding: 25px;
    font-family: var(--font-2);
    align-self: center;
}

.left-div h1 {
    font-size: 2.6rem;
    line-height: 1.1;
}

.left-div p,
.service-left p,
#about p {
    font-family: var(--font-3);
    font-size: 0.1.2rem;
    margin: 0.75rem 0;
    line-height: 1.3;
}

h1 .color {
    color: var(--btn-color);
}

.right-div {
    padding: 25px;
}

.right-div img {
    height: 425px;
    width: 425px;
}

section {
    height: 100vh;
    margin: auto;
    font-family: var(--font-2);
    display: flex;
}

.service-section,
.advertise-section,
.contact-section,
.about-section {
    /* height: calc((100vh - 12.5vh)); */
    height: auto;
    width: 85%;
    margin: auto;
    padding-top: 5rem;
}

.about-content {
    height: 100%;
    width: 100%;
    display: grid;
    place-items: center;
    padding-top: 2rem;
}

.about-boxes {
    height: 400px;
    width: 100%;

}

.box-img {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#box-2 {
    background: url('/img/img-2.jpg');
    background-size: cover;
}

#box-4 {
    background: url('/img/img-4.jpg');
    background-size: cover;
}

#box-6 {
    background: url('/img/img-6.jpg');
    background-size: cover;
}

.service-header {
    height: 120px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.service-carousel {
    margin-top: 1rem;
}

.service-left {
    width: 50%;
}

.service-right {
    align-self: flex-end;
}

.service-header h1 {
    font-size: 2.6rem;
    line-height: 1.1;
}

.carousel-indicators {
    position: absolute;
    bottom: -2rem;
}

.carousel-indicators li {
    background-color: var(--btn-color) !important;
}

.carousel {
    z-index: -1;
}

#service {
    position: relative;
    z-index: -1;
}

#contact {
    background-color: #ecf2f7;
}

#advertise {
    background-color: #ecf2f7;
}

.blogs {
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.left-blog {
    width: 55%;
}

.left-blog p {
    padding: 0.25rem 0;
}

.right-blog {
    width: 45%;
    display: flex;
    justify-content: space-evenly;
}

.right-blog .img-1 {
    height: 250px;
    align-self: flex-start;
}

.right-blog .img-2 {
    height: 250px;
    align-self: flex-end;
}

.contact-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact-section .form-right img {
    height: 440px;
}

.forms {
    width: 100%;
}

.form-left {
    width: 60%;
}

form {
    width: 100%;
    padding-top: 0.5rem;
}

.form-groups {
    width: 700px;
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.form-groups input {
    width: 347px;
    padding: 5px;
    outline: none;
    border: 1px solid #8c8d8f;
}

.form-groups textarea {
    width: 750px;
    border: none;
    outline: none;
    border: 1px solid #8c8d8f;
    padding: 5px;
}

.form-groups:nth-child(4) {
    justify-content: flex-end;
}

.footer-section {
    background-color: #ecf2f7;
}

#footer h5 {
    font-family: var(--font-2);
}

.footer-div-1 img {
    height: 125px;
    width: 125px;
}

.footer-div-2 {
    text-align: center;
}

.footer-div-1,
.footer-div-2,
.footer-div-3 {
    margin-top: 0.5rem;
}

.footer-div-2 .nav-uls {
    margin: auto;
    width: 100%;
    display: block;
    padding: 0;
}

.nav-uls li {
    margin: 15px 0;
}

.footer-section {
    border-top: 1px solid #8c8d8f;
}

.footer-section p {
    font-family: var(--font-2) !important;
    padding-bottom: 0;
    margin-bottom: 0;
}

@media screen and (max-width: 1300px) {
    html {
        font-size: 90%;
    }

    .service-section,
    .advertise-section,
    .contact-section {
        width: 90%;
    }

    .about-content {
        padding-bottom: 3rem;
    }

    .right-blog .img-1 {
        height: 250px;
        align-self: flex-start;
    }

    .form-groups {
        width: 100%;
    }

    .form-groups input {
        width: 49%;
    }

    .left-blog {
        width: 50%;
    }

    .right-blog {
        width: 50%;
        justify-content: space-evenly;
    }

    .contact-section .form-right img {
        height: 400px;
    }

}

@media screen and (max-width: 1000px) {
    .divs .right-div img {
        height: 100%;
        width: 100%;
    }

    .form-groups {
        width: 475px;
        margin-top: 5px;
        display: flex;
        justify-content: space-between;
        margin: 10px 0;
    }

    .form-groups input {
        width: 49%;
    }

    .contact-section .form-right img {
        height: 350px;
    }

    .right-blog .img-1,
    .right-blog .img-2 {
        height: 225px;
    }
}

@media only screen and (max-width: 1000px) and (min-width: 850px) {
    .container-div .divs {
        height: calc((100vh - 24.5vh));
    }

    .divs .right-div img {
        height: 300px;
        width: 300px;
    }

    .right-blog {
        padding-bottom: 2rem;
    }

    .about-content {
        padding-bottom: 2rem;
    }

    .service-carousel {
        padding-bottom: 2.5rem;
    }

    /* #about, #advertise, #contact, #service{
        height: 95vh !important;
    } */
}

@media only screen and (max-width: 850px) and (min-width: 760px) {
    .contacts {
        display: none;
    }

    .right-blog {
        padding-bottom: 2rem;
    }

    .divs .right-div img {
        height: 300px;
        width: 300px;
    }

    .form-right {
        padding-bottom: 1rem;
    }

    .form-right img {
        width: 100%;
    }

    .left-blog {
        width: 60%;
    }

    .blogs {
        height: 325px;
    }

    .right-blog {
        height: 370px;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 40%;
    }

    .right-blog .img-1,
    .right-blog .img-2 {
        height: 150px;
        width: 150px;
        align-self: unset;
    }

    .form-groups {
        width: 350px;
    }

    .form-groups input {
        width: 49%;
    }
}

@media only screen and (max-width: 760px) and (min-width: 540px) {

    /* section{
        height: 85vh;
    } */
    .divs .right-div img {
        height: 250px;
        width: 250px;
    }

    .contacts {
        display: none;
    }

    #about {
        height: auto !important;
    }

    .about-boxes {
        height: auto !important;
        width: 100%;
        padding-bottom: 3rem;
    }

    #advertise {
        height: auto !important;
    }

    .form-groups {
        width: 100%;
    }

    .contact-section .form-right img {
        height: 307px;
    }

    .advertise-section {
        padding-bottom: 3rem;
    }

    .blogs {
        height: auto;
        flex-direction: column;
    }

    .left-blog {
        width: 100%;
        padding-bottom: 2rem;
    }

    #service {
        height: auto;
    }

    .service-carousel {
        text-align: center;
        padding-top: 2rem;
        padding-bottom: 3rem;
    }

    .form-left {
        width: 100%;
    }

    #contact {
        height: auto;
    }

    .contact-section {
        flex-direction: column;
    }

    .form-right {
        width: 100%;
        padding-top: 2rem;
        padding-bottom: 3rem;
        margin: auto;
        text-align: center;
    }

    .form-right img {
        width: 50%;
        height: 100%;
    }

    .right-blog {
        width: 100%;
        justify-content: space-between;
    }

    .left-div h1 {
        font-size: 2rem;
        line-height: 1.1;
    }

    p {
        font-size: 0.85rem;
    }

    button {
        height: 35px;
        width: 110px;
        font-size: 0.85rem;
    }
}

@media only screen and (max-width: 540px) and (min-width: 440px) {
    html {
        font-size: 75%;
    }

    .contacts {
        display: none;
    }

    .container-div .divs {
        width: 100%;
        flex-direction: column;
    }

    .container-div .left-div {
        width: 100%;
    }

    .container-div .right-div {
        width: 70%;
    }

    .sub-btn {
        height: 35px;
        width: 70px;
    }

    #about {
        height: auto;
    }

    .about-boxes {
        height: auto;
    }

    #advertise {
        height: 80vh;
    }

    .right-blog {
        padding-bottom: 3rem;
    }

    #service {
        height: auto;
    }

    .service-header {
        flex-direction: column;
    }

    .service-left {
        width: 100%;
    }

    .service-carousel {
        padding-top: 2rem;
        padding-bottom: 3rem;
    }

    .blogs {
        width: 100%;
        justify-content: space-between;
        flex-direction: column;
    }

    .blogs .left-blog {
        width: 100%;
    }

    .right-blog {
        padding-top: 1rem;
        width: 100%;
        justify-content: space-between;
        flex-direction: row;
    }

    .right-blog .img-1 {
        height: 150px;
    }

    .right-blog .img-2 {
        height: 150px;
    }

    .blogs {
        height: auto;
    }

    .form-left {
        width: 100%;
    }

    .form-groups {
        width: 100%;
    }

    #contact {
        height: auto;
    }

    .form-right {
        padding-bottom: 3rem;
    }

    .contact-section {
        flex-direction: column;
    }
}

@media screen and (max-width: 440px) {

    section {
        height: auto !important;
    }

    .service-section {
        height: auto;
    }

    .divs img {
        height: 95%;
        width: 95%;
    }

    .divs h1 {
        font-size: 2.25rem !important;
    }

    #advertise {
        height: 65vh !important;
    }

    .service-section,
    .contact-section {
        padding-top: 6rem;
    }

    .blogs {
        height: 500px;
    }

    html {
        font-size: 85%;
    }

    nav.navs {
        flex-direction: column;
        align-items: flex-start;
        overflow: hidden;
        height: auto;
        background-color: white;
    }

    .ul {
        height: 0;
        overflow: hidden;
        transition: var(--transition);
    }

    ul {
        flex-direction: column;
        padding-left: 1rem;
    }

    .show-toggle {
        height: 210px;
        width: 100%;
    }

    .contacts {
        display: none;
    }

    ul li {
        margin: 10px 0;
    }

    .logo {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 95%;
    }
    .right-btns{
        display: block;
        display: flex;
    }

    .btn-toggle {
        display: block;
        border: none;
        background: none;
        font-size: 1.75rem;
        outline: none;
        color: var(--btn-color);
    }

    .right-div {
        padding: 25px;
    }

    .right-div img {
        height: 80%;
        width: 100%;
    }

    .service-section,
    .contact-section,
    .about-section {
        padding-top: 8rem;
        padding-bottom: 5rem;
    }

    .service-left {
        width: 100%;
    }

    .container-div h1,
    .service-header h1,
    .blogs h1 {
        font-size: 2rem;
    }

    .container-div {
        width: 100%;
    }

    .left-div p,
    .service-header,
    p .blogs p {
        font-size: 0.9rem;
    }

    .divs {
        flex-direction: column;
    }

    .container-div .left-div {
        width: 100%;
    }

    button.sub-btn {
        height: 30px !important;
        min-width: 90px;
        max-width: 120px;
        font-size: 0.75rem;
    }

    .service-header {
        height: 150px;
        flex-direction: column;
    }

    .service-carousel {
        margin-top: 2rem;
        height: auto;
    }

    .about-boxes {
        height: auto;
    }

    .about-content {
        padding-top: 0rem;
    }

    .box {
        text-align: center;
    }

    .blogs {
        width: 100%;
        justify-content: space-between;
        flex-direction: column;
    }

    .blogs .left-blog {
        width: 100%;
    }

    .right-blog {
        padding-top: 1rem;
        width: 100%;
        justify-content: space-between;
        flex-direction: row;
    }

    .right-blog .img-1 {
        height: 150px;
    }

    .right-blog .img-2 {
        height: 150px;
    }

    .advertise-section {
        padding-top: 0;
    }

    .form-left {
        padding-bottom: 3rem;
    }

    .form-left {
        width: 100%;
    }

    .form-groups {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .form-groups input {
        width: 49%;
    }

    .form-groups textarea {
        width: 100%;
        height: 120px;
    }

    .contact-section {
        height: auto;
    }

    .contact-section {
        flex-direction: column;
    }

    .form-right {
        padding-bottom: 1rem;
        width: 100%;
    }

    .form-right img {
        width: 100%;
    }

    #about {
        text-align: left;
    }

    .about-div-1 {
        text-align: center;
    }

    .about-div-2 {
        text-align: left;
    }
}

@media screen and (max-width: 400px) {
    #advertise {
        height: 100vh !important;
    }

    .advertise-section {
        height: 100%;
        padding-top: 8rem;
    }

    /* .blogs{
        justify-content: space-evenly;
    } */
    .left-blog,
    .form-left {
        padding-bottom: 1rem;
    }
}

@media screen and (max-width: 300px) {
    .about-content {
        margin-top: 2rem;
    }

    #advertise .right-blog {
        display: none !important;
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation : portrait) {
    header {
        height: 70vh;
    }

    nav.navs {
        height: 8vh;
    }

    .contacts {
        display: block;
        display: flex;
    }

    .contacts a {
        height: 30px;
        width: 30px;
    }

    button {
        height: 35px !important;
    }

    .container-div {
        height: 80vh;
    }

    section {
        height: 62.5vh !important;
    }
    .carousel-indicators {
        position: absolute;
        bottom: -5rem;
    }
    .service-left {
        width: 70%;
    }
    .form-right {
        height: 100%;
        align-self: flex-end;
    }

    .about-header,
    .contact-section {
        padding-top: 3rem;
        padding-bottom: 2rem;
    }

    .service-section,
    .advertise-section {
        /* height: calc((100vh - 12.5vh)); */
        height: auto;
        width: 85%;
        margin: auto;
        padding-top: 0rem;
    }
}