@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans';
}

.container {
    height: 100vh;
    width: 100%;
    position: relative;
}

.container::before {
    position: absolute;
    height: 100%;
    width: 100%;
    content: "";
    background-color: #00DBDE;
    background-image: linear-gradient(145deg, #00DBDE 0%, #FC00FF 100%);
    z-index: -1;
}

.navbar {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 1;
}

.nav-left h2 {
    color: white;
    text-transform: uppercase;
    font-weight: lighter;
    letter-spacing: 2px;
    word-spacing: 2px;
}

.nav-left .btn-toggle {
    display: none;
}

.nav-center ul {
    display: flex;
}

ul li {
    list-style: none;
    margin: 0 20px;
}

li a {
    text-decoration: none;
    color: white;
    font-size: 1.25rem;
    padding: 5px 0 3px 0;
}

li a:hover {
    border-top: 2px solid #00DBDE;
    border-bottom: 2px solid #FC00FF;
}

.nav-right button {
    height: 40px;
    width: 120px;
    border: none;
    outline: none;
    font-size: 1rem;
    color: white;
    transition: 0.3s all ease;
    background-color: #00DBDE;
    background-image: linear-gradient(145deg, #00DBDE 0%, #FC00FF 100%);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.nav-right button:hover {
    background-color: #00DBDE;
    background-image: linear-gradient(145deg, #FC00FF 0%, #00DBDE 100%);
}

.content {
    height: calc(100vh - 70px);
    width: 100%;
    position: relative;
    display: grid;
    place-content: center;
    text-align: center;
    color: white;
}

.content::before {
    position: absolute;
    content: "";
    height: 350px;
    width: 350px;
    top: 50%;
    left: 4%;
    transform: translateY(-50%);
    background: url('bg.jpg') center/cover;
    border-radius: 50%;
    box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.5);
    z-index: -1;
}


.content h1 {
    font-size: 2.5rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding-bottom: 0.75rem;
}

.content p {
    font-size: 1.15rem;
    position: relative;
}

.social-links {
    position: absolute;
    top: 55%;
    transform: translateY(-50%);
    right: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 300px;
    width: 50px;
}

.social-links a {
    height: 50px;
    width: 100%;
    display: grid;
    place-content: center;
    text-decoration: none;
    border-radius: 50%;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
    background-color: #00DBDE;
    background-image: linear-gradient(145deg, #FC00FF 0%, #00DBDE 100%);
    color: white;
    font-size: 1.75rem;
    transition: 0.3s all ease;
}

.social-links a:hover {
    background-color: #00DBDE;
    background-image: linear-gradient(145deg, #00DBDE 0%, #FC00FF 100%);
}

@media only screen and (max-width: 500px) {

    .navbar {
        position: absolute;
        height: auto;
        width: 100%;
        flex-direction: column;
        background-color: #00DBDE;
        background-image: linear-gradient(45deg, #00DBDE 0%, #FC00FF 100%);
        box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.5);
        z-index: 1;
    }

    .nav-left {
        height: 70px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 10px;
    }

    .nav-left h2 {
        font-size: 1.4rem;
        font-weight: bold;
    }

    .nav-left .btn-toggle {
        display: block;
        height: 45px;
        width: 45px;
        background: none;
        font-size: 1.5rem;
        display: grid;
        place-content: center;
        color: white;
        border: 2px solid white;
        transition: 0.3s all ease;
        outline: none;
    }

    .nav-left .btn-toggle:hover,
    .nav-left .btn-toggle.toggle-active {
        background-color: #a947f4;
        border: none;
        box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
    }

    .nav-center {
        height: 0;
        overflow: hidden;
        width: 100%;
        transition: 0.3s all ease;
    }

    .nav-center ul {
        height: 100%;
        flex-direction: column;
        justify-content: space-around;
    }

    ul li {
        margin: 0 10px;
    }

    .nav-right {
        height: 0;
        overflow: hidden;
        width: 100%;
        padding: 0 10px;
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
        transition: 0.3s all ease;
    }

    .content {
        height: 70vh;
        width: 100%;
        position: relative;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        top: 8rem;
    }

    .content h1{
        font-size: 1.85rem;
    }

    .content::before {
        position: absolute;
        content: "";
        height: 300px;
        width: 300px;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: url(bg.jpg) center/cover;
        border-radius: 50%;
        box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.5);
        z-index: -1;
    }

    .social-links{
        top: 90%;
        height: 50px;
        width: 100%;
        right: 0;
        flex-direction: unset;
        justify-content: space-evenly;
    }

    .social-links a{
        width: 50px;
    }

}